@media (min-screenwidth:1108px) {
  .wrapper {
    width:90%
  }
  #social {
    position: absolute;
    top: 82px;
    right:4px;
  }
}
@media (min-screenwidth: 900px) (max-width: {
  .body {
    font-size:85%;
  }
  #logo h1 {
    height:35px;
    width:35px;
  }
  
}